<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('../partial/homeCss')%>
    <%- include('../partial/profileCss')%>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6" style="margin-left: 10%">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="/product/home">Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li><a href="#">Giỏ hàng <i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="/logout">Đăng Xuất <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
<div class="col-sm-12" style="margin-left: 19%">
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Name</p>
                                            <h6 class="text-muted f-w-400"><%= cart.user.fullName %></h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="text-muted f-w-400"><%= cart.user.phoneNumber %></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Mã đơn hàng</p>
                                        <h6 class="text-muted f-w-400"><%= cart._id %></h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="m-b-10 f-w-600">address</p>
                                            <h6 class="text-muted f-w-400"><%= cart.user.address %></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>